@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

html, body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;;
}
